<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html> <!--<![endif]-->
    <head>
			<meta charset="utf-8">
			<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
			<title>{{{site-title}}}</title>
			<meta name="description" content="">
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
      <link rel="icon" href="favicon.ico" type="image/x-icon">

			<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

      <!--Materialize setup-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Karla|Raleway" rel="stylesheet">
      {{#stylesheet_bundle}}/css/all.css{{/stylesheet_bundle}}
    </head>

    <body>
			<header>
        <nav class="nav-theme" role="navigation">
          <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo"><i class="material-icons">attach_money</i>{{site-title}}</a>
            <ul class="right hide-on-med-and-down">
              {{#each navbar}}
      					<li><a href="{{{href}}}">{{label}}</a>
      				{{/each}}
            </ul>

            <a href="#" data-activates="nav-mobile" class="button-collapse nav-mobile-btn"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="side-nav">
              {{#each navbar}}
      					<li><a href="{{{href}}}">{{label}}</a>
      				{{/each}}
            </ul>
          </div>
        </nav>
			</header>
      <div id="min-height">
