{{> header }}

<div class="section no-pad-bot hero-bg" id="index-banner">
  <div class="container">
    <h1 class="header center">{{site-title}}</h1>
    <div class="row center">
      <h5 class="header col s12 light">{{tagline}}</h5>
    </div>
    <div class="row center">
      <a href="/signup" id="download-button" class="btn-large waves-effect waves-light">{{cta}}</a>
    </div>
  </div>
</div>


<div class="container">
  <div class="section">
    <!--   Icon Section   -->
    {{#each features}}
      <div class="row">
        <div class="col s6 offset-s3">
          <div class="icon-block">
            <h2 class="center navy-text"><i class="material-icons">{{icon}}</i></h2>
            <h5 class="center index-title">{{title}}</h5>
            <p class="light">{{text}}</p>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>

{{> footer }}
